.root {
  text-align: center;
  min-height: 100vh;
  color: white;
  width: 100%;
  margin: 0 auto;
}

.rootInner {
  padding: 48px;
}

.mainComponentWrapper {
  margin-bottom: 80px;
}

.announcement {
  width: 100%;
  display: block;
  background-color: #212529;
  border-bottom: 2px solid #000;
  text-align: center;
  color: #2deb96;
  font-size: 1.2em;
  font-weight: bold;
 }

.announcement a {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  color: #2deb96;
  font-weight: bold;
  text-decoration: none;
}
